/mathematical-notes-publishedmodel.aux
/mathematical-notes-publishedmodel.tex
/mathematical-notes-publishedmodel.txt
/mathematical-notes-publishedmodel.syntex.gz
/mathematical-notes-publishedmodel.log
/notes.doc
